<%= render('layouts/carousel') %>

<div class="container">
	<div class="row" id="home-products">

	<div class="col-sm-4 feature">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title product-title">Belgian Cupcake</h3>
			</div>
			<div class="panel-body">
				<%= image_tag 'cupcake.jpg', class: "img-circle" %>
				<p>Chocolate cupcake with creamy baileys filling, dark chocolate and Belgian ganache.</p>

				<a href="#" target="_blank" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Add</a>
				<div class="label label-danger price">
					<span class="glyphicon glyphicon-tag"></span>
					<sub>$</sub> 4.50
				</div>
			</div>
		</div> <!-- end panel -->
	</div> <!-- end col-sm-4 -->

	<div class="col-sm-4 feature">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title product-title">Chocolate Cupcake</h3>
			</div>
			<div class="panel-body">
				<%= image_tag 'cupcake_02.jpg', class: "img-circle" %>
				<p>Chocolate cupcake with dark ganache inside and outside.</p>
				<a href="#" target="_blank" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Add</a>
				<div class="label label-danger price">
					<span class="glyphicon glyphicon-tag"></span>
					<sub>$</sub> 3.50
				</div>
			</div>
		</div> <!-- end panel -->
	</div> <!-- end col-sm-4 -->

	<div class="col-sm-4 feature">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title product-title">Traditional Cupcake</h3>
			</div>
			<div class="panel-body">
				<%= image_tag 'cupcake_03.jpg', class: "img-circle" %>
				<p>The traditional cupcake. White cake with dark and white chocolate</p>
				<a href="#" target="_blank" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Add</a>
				<div class="label label-danger price">
					<span class="glyphicon glyphicon-tag"></span>
					<sub>$</sub> 4.00
				</div>
			</div>
		</div> <!-- end panel -->
	</div> <!-- end col-sm-4 -->
</div>	
</div>























