<%= render('layouts/carousel') %>

<div class="container">
	<div class="row" id="home-products">

	<div class="col-sm-4 feature">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title product-title">Cupcake de Morango</h3>
			</div>
			<div class="panel-body">
				<%= image_tag 'cupcake.jpg', class: "img-circle" %>
				<p>Cupcake de chocolate com recheio cremoso de baileys, cobertura de ganache de chocolate meio amargo belga e decorado com flocos de chocolate belga.</p>

				<a href="#" target="_blank" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Adicionar</a>
				<div class="label label-danger price">
					<span class="glyphicon glyphicon-tag"></span>
					<sub>R$</sub> 4,50
				</div>
			</div>
		</div> <!-- end panel -->
	</div> <!-- end col-sm-4 -->

	<div class="col-sm-4 feature">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title product-title">Cupcake de Chocolate</h3>
			</div>
			<div class="panel-body">
				<%= image_tag 'cupcake_02.jpg', class: "img-circle" %>
				<p>Cupcake de chocolate com recheio cremoso de baileys, cobertura de ganache de chocolate meio amargo belga e decorado com flocos de chocolate belga.</p>
				<a href="#" target="_blank" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Adicionar</a>
				<div class="label label-danger price">
					<span class="glyphicon glyphicon-tag"></span>
					<sub>R$</sub> 3,50
				</div>
			</div>
		</div> <!-- end panel -->
	</div> <!-- end col-sm-4 -->

	<div class="col-sm-4 feature">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title product-title">Cupcake de Vanilla</h3>
			</div>
			<div class="panel-body">
				<%= image_tag 'cupcake_03.jpg', class: "img-circle" %>
				<p>Cupcake de chocolate com recheio cremoso de baileys, cobertura de ganache de chocolate meio amargo belga e decorado com flocos de chocolate belga.</p>
				<a href="#" target="_blank" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Adicionar</a>
				<div class="label label-danger price">
					<span class="glyphicon glyphicon-tag"></span>
					<sub>R$</sub> 4,00
				</div>
			</div>
		</div> <!-- end panel -->
	</div> <!-- end col-sm-4 -->
</div>	
</div>























