<div class="container first-container">
	
	<div class="row">
		<div class="col-sm-12">
			<h1 class="user-data-title">Meus Dados</h1>
		</div>
	</div>
	<div class="row">
		<aside class="col-sm-3 well">
			<label>Nome: </label> <%=  @user.first_name %> <br />
			<label>Sobrenome: </label> <%=  @user.last_name %> <br />
			<label>Email: </label> <%=  @user.email %> <br />
		</aside>
	</div>
</div>