<div class="carousel slide" id="myCarousel">

	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
		<li data-slide-to="1" data-target="#myCarousel"></li>
		<li data-slide-to="2" data-target="#myCarousel"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">

		<div class="item active" id="slide1">
			<div class="carousel-caption">
				<h4>Cupcake Store</h4>
				<p>The best online cupcake store.</p>
			</div> <!-- end carousel-caption -->
		</div> <!-- end slide1-->

		<div class="item" id="slide2">
			<div class="carousel-caption">
				<h4>Many Flavors</h4>
				<p>We have a variety of flavors available.</p>
			</div> <!-- end carousel-caption -->
		</div> <!-- end slide2-->

		<div class="item" id="slide3">
			<div class="carousel-caption">
				<h4>Free Delivery!</h4>
				<p>Free delivery for our customers.</p>
			</div> <!-- end carousel-caption -->
		</div> <!-- end slide3-->
	</div> <!-- end carousel-inner -->

	<!-- Carousel controls -->
	<a class="left carousel-control" data-slide="prev" href="#myCarousel">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" data-slide="next" href="#myCarousel">
		<span class="icon-next"></span>
	</a>

</div> <!-- End Carousel -->