<footer>
	<div class="container footer">
		<div class="row">
			<div class="col-sm-4">
				<h4>Onde Estamos?</h4>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3959.177898933484!2d-34.8309487!3d-7.105371099999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd16228a361d%3A0x59fa3a2daf48fdae!2sAv.+Ing%C3%A1+-+Mana%C3%ADra%2C+Jo%C3%A3o+Pessoa+-+PB%2C+58038-250%2C+Brazil!5e0!3m2!1sen!2sus!4v1423881605000" width="100%" height="200" frameborder="0" style="border:0"></iframe>
				<p>
					Av. Ingá, Manaíra. João Pessoa - PB
				</p>
				<p>
					Fone: (83) 3211-1111
				</p>
				<!-- Visible only on small devices -->
					<div class="well well-small hidden-lg">
						<a href="" class="btn btn-large btn-block btn-info"><span class="glyphicon glyphicon-phone"></span> Dê uma ligadinha!</a>
					</div><!-- end well-small -->
				<span>
					
				</span>
			</div>
			<div class="col-sm-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-sm-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
			</div>
		</div>
	</div>
</footer>